.main-description {
  display: flex;
  flex-direction: column; 
  color: black;
<<<<<<< HEAD
  align-items: center;
  margin-bottom: 5rem;
=======
  align-items: center;;
>>>>>>> feat/web/codelog
}

.main-description h2 {
  text-decoration: underline;
  text-decoration-style: double;
  font-size:x-large;
  margin: 1rem;
}

.main-description h3 {
  font-size: large;
}