.footer{
  position: relative;
  // transform: translateY(0%);
  // margin: 5rem;
  border-top: 1px solid black;
  padding: 50px;

  display: flex;
  flex-direction : column;
  background-color: lightgray;
}


.contents{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 180px), 1fr));
  height: 100%;
  gap: 32px 16px;
  
  
  .contents-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.contents-container span {
  font-size: 1.2em;
  font-weight: bold;
}

.block{
  height: 16px;
}