.page{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  background-color: antiquewhite;
}

.userPage {
    width: 62.4%;
    justify-content: center;
  background-color: rgb(196, 127, 38);

  }