.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: antiquewhite;
  }
  
  .CommunityPage {
    width: 62.4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    // background-color: rgb(196, 127, 38);
    }