.page {
  display: flex;
  justify-content: center;
  
  .mainPage {
    width: 62.4rem;
    .main {
      height: 50rem;
    }
  
    .descriptions{
      margin-top: 20rem;
      .description_right{
        text-align: right;
      }
    }
  }
}
