.page {
  display: flex;
  justify-content: center;
  
  .mainPage {
    width: 100%;
    .main {
      height: 35rem;
    }
    .mainDescription {
      margin-top: 8rem;
      
    }
    .descriptions{
      width: 80%;
      margin: auto;
      margin-top: 20rem;
      .description_right{
        text-align: right;
      }
    }
  }
}
