.codeLogDetailPage {
  width: 62.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem 1rem;
  border: 1px solid rgb(228, 228, 228);
  }